%% -*- mode: erlang -*-

{require_otp_vsn, ".*"}.
{deps, [
	{breeze, ".*", {git, "git://github.com/daha/breeze.git",
			"b452eed0ea805c83031289a7596def35db3e06c2"}}
       ]}.

{sub_dirs, ["breeze_debug_example", "rel"]}.

%% Erlang compiler options
{erl_opts, [debug_info, warnings_as_errors]}.

%{eunit_opts, [verbose]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
